<!doctype>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= meta.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="client/css/style.css">
</head>
<body>

<header>
    <h1><%= meta.title %></h1>
    <h3><%= meta.date_range %></h3>
    <% if (title) { %>
    <span class="location-title">Aktueller Ort: <%= title %></span>
    <% } %>
    <div id="map"></div>
</header>

<article>
    <% if (imgs.length) { %>
    <h2>Fotos</h2>
    <span id="resizer"><img alt="magnifier" src="client/img/magnifier.svg"/></span>
    <div class="image-grid">
        <div class="grid-sizer"></div>
        <% for(var i = 0; i < imgs.length; i++) { %>
        <div class="img-item"><img src="<%= imgs[i] %>"></div>
        <% } %>
    </div>
    <% } %>
</article>

<footer>
    &copy; <%= new Date().getFullYear();%> Timm Kleemann
</footer>
<script src="client/js/masonry.pkgd.min.js"></script>
<script src="client/js/imagesloaded.pkgd.min.js"></script>

<script>
    function initMap() {
        let overlay = "<%= maps.overlay %>"
        let map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= location.lat %> , lng: <%= location.lng %> },
            zoom: <%= maps.zoom %>
        });

        if (overlay) {
            let ctaLayer = new google.maps.KmlLayer({
                url: overlay,
                map: map
            });
        }

        let marker = new google.maps.Marker({
            position: {lat: <%= location.lat %>, lng: <%= location.lng %>},
            map: map,
            title: "<%= title %>"
        });
    }

    let imgs = <%- JSON.stringify(imgs) %>;

    if (imgs.length) {
        let elem = document.querySelector('.image-grid');
        let msnry = new Masonry(elem, {
            // options
            itemSelector: '.img-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            gutter: 10
        });

        imagesLoaded(elem).on('progress', function () {
            // layout Masonry after each image loads
            msnry.layout();
        });


        document.getElementById("resizer").addEventListener('mousedown', function () {
            let currentSize = document.getElementsByClassName('grid-sizer')[0].clientWidth;
            let itemsPerRow = Math.round(window.innerWidth / (currentSize + 10));

            if (itemsPerRow <= 1) {
                itemsPerRow = 4;
            } else {
                itemsPerRow -= 1;
            }
            document.getElementsByClassName('grid-sizer')[0].style.width = "calc((100% / " + itemsPerRow + ") - 10px)";
            let items = document.querySelectorAll('.img-item');
            for (let i = 0; i < items.length; i++) {
                items[i].style.width = "calc((100% / " + itemsPerRow + ") - 10px)";
                msnry.layout();
            }

        })
    }


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= maps.apiKey %>&callback=initMap" async defer></script>

</body>
</html>